.blog {
    header {
        ul {
            
            li {
                list-style: none;
                display: inline-block;
                padding: 0 10px;
                a {
                    font-size: 20px;
                }
            }
        }
    }
}